* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

body {
  background-color: #edf1f2;
}

/* Utility */

.container {
  width: 70%;
  margin: 0 auto;
}

.err {
  color: #8d0303;
  font-size: 0.7rem;
}

.flash {
  margin: 1rem 0;
  padding: 1.5rem;
}

.flash-error {
  background-color: #fcaeae;
  color: #290101;
}

.flash-success {
  background-color: #bfe9bf;
  color: #0e2b01;
}

/* Navbar */

.navbar {
  background-color: #fff;
  border-bottom: 3px solid #00718e;
  overflow: hidden;
}

.nav-content {
  display: flex;
}

.brand {
  flex: 1;
  position: relative;
}

.brand .menu-bars {
  position: absolute;
  top: 8px;
  left: 0;
  display: none;
  color: #00718e;
}

.brand img {
  width: 180px;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}

.search-form {
  flex: 1;
  margin-top: 0.3rem;
}

.search-con {
  position: relative;
}

.search-con i {
  color: #d8d8d8;
  position: absolute;
  left: 0;
  top: 8px;
  font-size: 0.7rem;
  padding-left: 0.3rem;
  padding-top: 0.1rem;
}

.search-form .search-con input {
  width: 70%;
  padding: 3px;
  padding-left: 25px;
  background-color: #f9f9f9;
  border: 1px solid #c0c0c0;
  outline: 0;
}

.search-form input::-webkit-input-placeholder {
  color: #d8d8d8;
  font-size: 0.7rem;
}

.search-form input::-moz-placeholder {
  color: #d8d8d8;
  font-size: 0.7rem;
}

.search-form input:-ms-input-placeholder {
  color: #d8d8d8;
  font-size: 0.7rem;
}

.search-form input::-ms-input-placeholder {
  color: #d8d8d8;
  font-size: 0.7rem;
}

.search-form input::placeholder {
  color: #d8d8d8;
  font-size: 0.7rem;
}

.navigation {
  display: flex;
}

.navigation li {
  list-style: none;
  height: 100%;
  padding: 0.5rem 0.7rem;
}

.navigation a {
  text-align: center;
  color: #5d5d5d;
  text-decoration: none;
  font-size: 0.8rem;
  margin-right: 10px;
}

.navigation a img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.navigation li:hover {
  background-color: rgba(153, 153, 153, 0.144);
  display: block;
  height: 100%;
}

.user-menu {
  position: absolute;
  background-color: #fff;
  z-index: 3;
}

.user-menu li a i {
  margin-right: 0.3rem;
}

/* Main Content */

.entry-title {
  font-size: 1.2rem;
  margin: 1.5rem 0;
  color: #403434;
}

.post {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0px 3px 10px #9e9d9d;
  margin-bottom: 0;
  position: relative;
}

.option {
  position: absolute;
  right: 5%;
}

.option li {
  list-style: none;
}

.option_toggle {
  color: #333;
}

.option li a:hover {
  color: #0091b6;
}

.option ul {
  position: absolute;
  background: #fff;
  padding: 1rem;
  z-index: 1;
  width: 150px;
  right: 10%;
}

.option ul a {
  text-decoration: none;
  color: #333;
}

.post div {
  width: 100%;
}

.post h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.post .meta {
  width: 40%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.post .meta span {
  font-size: 0.7rem;
}

.post .content p {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.post .action {
  width: 96%;
  display: flex;
  justify-content: flex-end;
}

.post .action a {
  text-decoration: none;
  text-transform: uppercase;
  color: #00718e;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 1rem;
}

.post .action a:hover {
  text-decoration: underline;
}

.post .action a i {
  margin-right: 0.3rem;
}

.post .action a:nth-child(2) i {
  margin-right: 0.1rem;
}

.post .action a:nth-child(3) i {
  margin-right: 0.1rem;
}

.discuss-section {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0px 3px 10px #9e9d9d;
  margin-bottom: 0;
}

.discuss-section h3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.comment {
  display: flex;
  border-bottom: 1px solid #8b8b8b;
  padding-top: 1rem;
}

.comment .avatar {
  padding-right: 1rem;
}

.comment .avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.comment .content {
  flex: 1;
}

.comment .content h6 {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}

.comment .content div {
  width: 100%;
}

.comment .content .meta {
  width: 40%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.comment .content .comment-text p {
  font-size: 0.8rem;
  line-height: 1.5;
}

.comment .content .action {
  width: 96%;
  display: flex;
  justify-content: flex-end;
}

.comment .content .meta span {
  font-size: 0.7rem;
}

.comment .content .action a {
  text-decoration: none;
  text-transform: uppercase;
  color: #00718e;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 1rem;
}

.comment .content .action a:hover {
  text-decoration: underline;
}

.write-comment {
  background-color: #fff;
  box-shadow: 0px 3px 10px #9e9d9d;
  display: flex;
  padding: 0.5rem 0 0 1rem;
}

.write-comment .avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.write-comment form .submit {
  margin: 0;
}

.write-comment form {
  display: flex;
  width: 100%;
}

.write-comment form div {
  flex: 1;
  padding: 0.3rem;
}

.write-comment form textarea {
  width: 100%;
  resize: none;
  height: 30px;
  overflow: hidden;
  padding: 0.3rem;
}

.write-comment form textarea::-webkit-input-placeholder {
  font-size: 0.7rem;
}

.write-comment form textarea::-moz-placeholder {
  font-size: 0.7rem;
}

.write-comment form textarea:-ms-input-placeholder {
  font-size: 0.7rem;
}

.write-comment form textarea::-ms-input-placeholder {
  font-size: 0.7rem;
}

.write-comment form textarea::placeholder {
  font-size: 0.7rem;
}

.guest-viewer {
  background-color: #fff;
  box-shadow: 0px 3px 10px #9e9d9d;
  margin-bottom: 0;
}

.guest-viewer p {
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

.guest-viewer p a {
  text-decoration: none;
  color: #0091b6;
}

.guest-viewer p a:hover {
  text-decoration: underline;
}

/* Login */

.login-register {
  display: flex;
  height: 50vh;
}

.form {
  background-color: #fff;
  width: 40%;
  margin: auto;
  padding-bottom: 1rem;
}

.form h2 {
  color: #00718e;
  font-weight: 500;
  border-bottom: 3px solid #00718e;
  padding: 0.3rem 3rem;
}

.form-div {
  width: 100%;
  padding: 0.3rem 3rem;
}

.form-div label {
  font-size: 0.7rem;
}

.form-div input {
  width: 100%;
  padding: 0.3rem;
  font-size: 0.7rem;
}

.remember-me {
  width: 100%;
  padding: 0 3rem;
}

.remember-me label {
  font-size: 0.7rem;
}

.submit {
  border: 0;
  outline: 0;
  background-color: #00718e;
  color: #fff;
  margin-left: 3rem;
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 1rem;
  cursor: pointer;
}

/* Dashboaed */

.profile-header {
  display: flex;
  margin-top: 2rem;
  background-color: #fff;
  padding: 1.3rem;
  margin-bottom: 1rem;
}

.profile-header .profile-pic img {
  width: 200px;
}

.profile-header .profile-info {
  flex: 1;
  position: relative;
  padding-left: 1rem;
}

.profile-header .profile-info div {
  width: 100%;
}

.profile-header .profile-info .meta {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.profile-header .profile-info .meta span {
  font-size: 0.7rem;
}

.discussion-lists {
  padding-top: 1rem;
}

.discussion-lists .disc-item {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0px 3px 10px #9e9d9d;
  margin-bottom: 0;
  position: relative;
}

.discussion-lists .disc-item h3 {
  font-size: 1.1rem;
}

.discussion-lists .disc-item .meta {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.discussion-lists .disc-item .meta span {
  font-size: 0.7rem;
}

.discussion-lists .disc-item .content {
  font-size: 0.8rem;
  line-height: 1.5;
}

.discussion-lists .disc-item .action {
  width: 96%;
  display: flex;
  justify-content: flex-end;
}

.discussion-lists .disc-item .action a {
  text-decoration: none;
  text-transform: uppercase;
  color: #00718e;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 1rem;
}

.discussion-lists .disc-item .action a:hover {
  text-decoration: underline;
}

/* Media */

@media (max-width: 1200px) {
  .navbar {
    max-height: 50px;
    transition: 1s;
  }

  .nav-content {
    display: block;
  }

  .brand .menu-bars {
    display: inline;
  }

  .search-form .search-con input {
    width: 100%;
  }

  .navigation {
    display: block;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
  }

  .profile-header {
    display: block;
    text-align: center;
  }

  .post .meta,
  .comment .content .meta,
  .profile-header .profile-info .meta,
  .discussion-lists .disc-item .meta {
    width: 100%;
    display: block;
  }

  .post .meta span,
  .comment .content .meta span,
  .profile-header .profile-info .meta span,
  .discussion-lists .disc-item .meta span {
    display: block;
    margin: 0.1rem 0;
  }

  .post .action,
  .comment .content .action,
  .discussion-lists .disc-item .action {
    display: block;
    margin-top: 0.5rem;
  }

  .post .action a,
  .comment .content .action a,
  .discussion-lists .disc-item .action a {
    display: block;
  }

  .form {
    width: 100%;
  }
}

/* Triggers */

.hide {
  display: none;
}

.show-menu {
  max-height: 399px;
}

/* Animation */

.create-body textarea {
  width: 100%;
  resize: none;
  height: 30vh;
  padding: 0.3rem;
  font-size: 0.7rem;
}

.user-edit {
  display: flex;
}

.user-edit .edit-form {
  background-color: #fff;
  margin: 10% auto;
  width: 600px;
  padding: 1rem;
  text-align: center;
}

.edit-form img {
  width: 300px;
}

.user-name input {
  padding: 0.1rem;
  font-size: 0.8rem;
}

.edit-form button {
  margin: 0.3rem 0;
}

.profile_upload input {
  display: none;
}

.profile_upload label {
  text-decoration: underline;
  color: #009ac0;
  cursor: pointer;
}

